@import './variables.css';

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 600px;
  min-width: 800px;
  height: 100%;
  font-size: var(--text-size-main);
  line-height: 1.1;
  font-family: var(--main-font);
  background-color: var(--background-main);
  color: var(--text-main);
}

#app-container {
  width: 100%;
  height: 100vh;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  padding: 2px;
}
::-webkit-scrollbar-track {
  background-color: transparent; 
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3); 
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6); 
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#main {
  display: grid;
  gap: var(--spacing-main);
  padding:  8px 8px 0;
  grid-template-areas: "left-sidebar main" "player player";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  width: 100%;
  height: 100%;
  background-color: var(--background-main);
}

/* Main View */
main {
  grid-area: main;
  border-radius: 6px;
  position: relative;
  min-height: 0;
  overflow: hidden;
}
.main-view-container {
  height: 100%;
  min-height: 100%;
  overscroll-behavior-y: contain;
  overflow-y: scroll;
  background: linear-gradient(#117a37 0%, #000000 35%);
}

/* Homepage */
.main-home {
  padding: 8px clamp(16px, 1.5vw, 24px) 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-wider-4);
}
.opening {
  container-type: inline-size;
  margin-bottom: var(--spacing-wider-3);
}
.opening h2 {
  font-size: var(--text-size-larger-2);
  font-weight: 700;
  margin: 0;
  padding-bottom: 5px;
}
.recent-playlists {
  display: grid;
  gap: var(--spacing-main);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 48px;
  grid-auto-rows: 48px;
}
@container (min-width: 815px) {
  .recent-playlists {
    grid-template-columns: repeat(3, 1fr);
  }
}
.recent-playlist {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.07);
  color: var(--text-main);

  &:hover {
    background-color: var(--background-tinted-highlight);

    .play-btn {
      visibility: visible;
    }
  }
}
.recent-playlist-img {
  width: 48px;
  height: 48px;
}
.recent-playlist-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding-left: 8px;
  
  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: var(--text-size-smaller);
    font-weight: 700;
    margin: 0;
  }
  .play-btn {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--text-accent);
    box-shadow: 0 8px 8px rgba(0,0,0,.3);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #000000;
    font-size: 2rem;
    z-index: 100;
    flex: 0 0 32px;
    margin: 0 var(--spacing-main);
    cursor: pointer;
  }
}



.section {
  margin-bottom: 16px;
  max-width: 100%;
}
.section-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;

  a {
    color: inherit;
    font-weight: 700;
  }
  a:hover {
    text-decoration: underline;
  }
  a:first-child {
    font-size: var(--text-size-larger);
  }
  a:last-child {
    white-space: nowrap;
    color: var(--text-tertiary);
    padding-left: 8px;
    font-size: var(--text-size-smaller);
  }
}
.section-items {
  margin-inline: -12px;
  min-width: 360px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%/2, max(180px, 100%/11)), 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 0px;
  overflow: hidden;
  gap: 0;

  :nth-child(n + 11) {
    display: none;
  }
}

.react-resizable {
  width: 360px;
  height: 100%;
  grid-area: left-sidebar;
  position: relative;
}
.react-resizable-handle-e {
  display: flex;
  height: 100%;
  inset-inline-end: calc(var(--spacing-main) * -1);
  width: var(--spacing-main);
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  cursor: e-resize;
  transition: opacity 0.15s ease-out;

  &:hover {
    opacity: 1;
  }
  &::after {
    content: "";
    background-color: #727272;
    height: calc(100% - 16px);
    inset-inline-end: calc(var(--spacing-main) / 2);
    position: absolute;
    top: 8px;
    transition: background-color 0.15s ease-out;
    width: 1px;

    &:focus {
        background-color: #fff;
    }
  }
}

/* Section Pages */
.section-items-container {
  padding: 74px clamp(16px, 1.5vw, 24px) 0;
  margin-bottom: 16px;

  .section-items-title {
    margin: 0;
    padding-bottom: var(--spacing-thinner);
    font-weight: 700;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .section-items-grid {
    margin-inline: -12px;
    min-width: 360px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%/2, max(180px, 100%/11)), 1fr));
    grid-template-rows: 1fr;
    gap: var(--spacing-wider-4) 0;
  }
}

/* Playlist and Tracks Pages */
.playlist-view-container {
  width: 100%;
  container-type: inline-size;
}
.playlist-info-container {
  width: 100%;
  height: min(30vh, 186px);
  min-height: 186px;
  max-height: 400px;
  padding: 0 var(--spacing-wider-2) var(--spacing-wider-2);
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-wider-3);
}
.playlist-image {
  border-radius: 4px;
  width: 128px;
  height: 128px;
  flex-shrink: 0;
  
  img {
    border-radius: 4px;
    box-shadow: 0 4px 60px rgba(0,0,0,.5);
  }
}
.playlist-info {
  p, span {
    font-size: var(--text-size-smaller);
    margin: 0;
  }
  h1 {
    display: -webkit-box;
    font-size: 1.5em;
    font-weight: 900;
    margin: var(--spacing-main) 0 var(--spacing-thinner);
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: normal;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    color: #b9b9b9;

    &.playlist-description {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      max-height: 74px;
      word-break: break-word;
      overflow: hidden;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .metadata {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: var(--spacing-main);
        
    .user {
      display: flex;

      a {
        color: var(--text-main);
        font-weight: 700;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    p::before {
      content: '•';
      margin: 0 var(--spacing-thinner);
      white-space: nowrap;
    }
  }
}

.playlist-options {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-wider-2);

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: clamp(16px, 16px + 2vw, 24px);
    border: 0;
    outline: none;
    cursor: pointer;
    user-select: none;
  }
  .playlist-play-btn {
    background-color: var(--text-accent);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #000000;
    font-size: 26px;
  }
  .playlist-save-btn, .playlist-more-btn {
    background-color: transparent;
    color: var(--text-secondary);
    font-size: 34px;
  }
}
.layout-grid {
  display: grid;
  padding: 0 var(--spacing-wider-2);
  gap: var(--spacing-wider-2);
  grid-template-columns: [index] 16px [first] minmax(120px, 4fr) [last] minmax(120px, 1fr);
}

.playlist-header {
  position: sticky;
  height: 36px;
  border-bottom: 1px solid var(--background-tinted-highlight);
  margin-bottom: var(--spacing-wider);
  z-index: 2;
  color: var(--text-secondary);
  font-size: 14px;
}
.col-1, .col-2, .col-5 {
  display: flex;
  align-items: center;
}
.col-1, .col-5 {
  justify-content: flex-end;
}
.col-3, .col-4 {
  display: none;
}
.col-5 {
  grid-column: last;

  svg {
    margin-right: 32px;
  }
}
@container (min-width: 536px) {
  .layout-grid {
    grid-template-columns: [index] 16px [first] minmax(120px, 4fr) [var1] minmax(120px, 2fr) [last] minmax(120px, 1fr);
  }
  .col-3 {
    display: flex;
    align-items: center;
  }
}
@container (min-width: 766px) {
  .layout-grid {
    grid-template-columns: [index] 16px [first] minmax(120px, 6fr) [var1] minmax(120px, 4fr) [var2] minmax(120px, 3fr) [last] minmax(120px, 1fr);
  }
  .col-4 {
    display: flex;
    align-items: center;
  }
}

@container (min-width: 600px) {
  .playlist-info-container {
    height: min(30vh, clamp(186px, 186px + 3vw, 335px));
    min-height: clamp(186px, 186px + 1vw, 276px);
  }
  .playlist-image {
    width: clamp(128px, 128px + 5.621vw, 232px);
    height: clamp(128px, 128px + 5.621vw, 232px);
  }
  .playlist-info h1 {
    font-size: clamp(1.5em, 3.6vw, 6em);
  }
  .playlist-options {
    padding: clamp(16px, 16px + 2vw, 24px);

    .playlist-play-btn {
      width: clamp(48px, 48px + 2vw, 56px);
      height: clamp(48px, 48px + 2vw, 56px);
    }
  }
  .playlist-layout {
    padding: 0 clamp(16px, 16px + 2vw, 24px);
  }
}
.metadata-copyright {
  color: var(--text-tertiary);
  margin-top: 32px;
  padding: 0 var(--spacing-wider-2);

  p {
    margin: 0;
    line-height: 1.3;

    &:first-child {
      font-size: var(--text-size-smaller);
    }
    &:not(:first-child) {
      font-size: 0.6875em;
    }
  }
}

/* Search Page */
.search-view-container {
  padding: 0 var(--spacing-wider-2);
  margin-top: var(--spacing-wider-4);
  min-width: 372px;

  h2 {
    margin: 0 0 var(--spacing-main);
  }
}
.track-item {
  display: grid;
  padding: 0 var(--spacing-wider-2);
  gap: var(--spacing-wider-2);
  grid-template-columns: [ first ] minmax(120px,  4fr) [ last ] minmax(120px, 1fr);
  
  .track-image {
    position: relative;
  }
  
  .track-image button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0;
    color: var(--text-main);
    font-size: 2em;
  }
  :hover .track-image button {
    display: flex;
  }
}
.search-sections:not(:first-child) {
  padding: var(--spacing-wider-2) 0 0;

}